html, body {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right bottom, rgba(0, 56, 161, 0.3), rgba(0, 56, 161, .05));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.glass {
  /* background: var(--gray); */
  background: linear-gradient(to right bottom, rgba(128, 128, 128, 0.1), rgba(128, 128, 128, 0.025));
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
  padding: 1rem;
}